<h1><%= current_user.email %>'s Trips</h1>


<!-- start pagination -->
<div class="pagination-box">
  <p></p>
  <%= will_paginate @trips, renderer: BootstrapPagination::Rails  %>
</div><br>
<!-- end pagination -->
<div class="tile-container">

  <div class="clearfix"></div>
  <% @trips.each do |trip| %>
    <div class="col-md-4 trip-list-tile pull-left text-over-image">
      <%= link_to image_tag(trip.image.url, :class => "img-responsive tile-image"), Trip.find(trip.id) %>
      
      <!-- Title for the tile -->
      <h3 class="tile-title"><div class="grey-background">
          <%= trip.name %></div>
      </h3>
      <!-- Blurb for the tile -->
      <h3 class="tile-blurb"><div class="blurb-text">
          <%= truncate(trip.blurb, length: 150) %></div>
      </h3>

      <!-- Cost for the tile -->
      <h3 class="tile-cost"><div class="grey-background">
          <%= number_to_currency(trip.cost, :unit => "$") %></div>
      </h3>

    </div>
  <% end %>
</div>


<div class="clearfix"></div>

<!-- start pagination -->
<div class="pagination-box">
  <%= will_paginate @trips, renderer: BootstrapPagination::Rails  %>
</div>
<!-- end pagination -->

