<div class="col-md-offset-2 col-md-8">
  <div class="jumbotron">
    <p class="text-center page-title">Start an ExGo</p>
    <div class="row">
      <div class ="container-fluid">
      
        <%= form_for(@trip, multipart: true) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="mui-textfield hidden", id="trip-form-name">
          <%= f.label :Trip_name %>
          <%= f.text_field :name%>
        </div>
        <div class="mui-textfield hidden", id="trip-form-blurb">
          <%= f.label :Blurb %>
          <%= f.text_field :blurb %>
        </div>
        

        
          <%= f.label :Image, class: 'mui-textfield hidden' %>

          <label class="btn-file text-center">
            <div class="vertical-center-text">
              Drag and drop image or <br/>click to upload image
            </div>
            <%= f.file_field :image, class: 'mui-textfield hidden',
              id: 'trip-image-upload', accept: "image/*" %>
          </label>


          

          <%= f.text_field :crop_data, class: 'mui-textfield hidden', 
              id: 'trip-cropdata-field' %>
        

        <%= f.submit "Create Trip", class: "mui-btn mui-btn--raised mui-btn--primary hidden", id: "submit-trip-button" %>
        <% end %>

        
        <p class="text-center" id="image-upload-warning"></p>
        <form class="mui-form--inline trip-image-preview-button-container">
          <button class="mui-btn mui-btn--raised mui-btn--small mui-btn--danger hidden" id="trip-image-reupload">
            X
          </button>
          <button id="crop-image-button" class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small pull-right hidden">
            Crop Image
          </button>
          <button id="use-cropped-image-button" class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small pull-right hidden">
            Use This Crop
          </button>
        </form>
      
        <img src="" id="trip-image-preview" class="img-responsive hidden"/>
     

        <div id="trip-image-upload-result"></div>

        
      </div>
    </div>
  </div>
</div>