<!-- 
image using rails image tag helper 
-->
<div class="row trip-page-header">
  <div class="row trip-page-header-content-container">
    <div class="trip-page-image pull-left col-md-3">
      <%= image_tag @trip.image.url(:medium), :class => 'img-rounded' %>
    </div>
    <!-- 
    react component for listing the trip summary
    -->
    <div class="col-md-8 trip-summary">
      <%= react_component 'TripSummary', {data: @trip} %>
    </div>
  </div>
</div>
<!-- 
random stuff instead of fixing css 
-->
<div class="clearfix"></div>
<div class="mui-divider margin-top"></div>

<!--
location buttons from partial
-->
<%= render "trips/partials/location_buttons"%>

<!--
location modal from partial
-->
<%= render "trips/partials/location_modal" %>

<!--
react component for listing the trip locations
-->
<%= react_component 'TripList', {data: @trip_locations} %>

<!--
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwcXunVemFYbtL-898MWQY11z7QE4cl70&libraries=places&signed_in=true&callback=initMap"></script>

-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwcXunVemFYbtL-898MWQY11z7QE4cl70&libraries=places">
