<!-- image using rails image tag helper -->
<div class="row trip-page-header">
  <div class="row trip-page-header-content-container">
    <div class="trip-page-image pull-left col-md-3">
      <%= image_tag @trip.image.url(:medium), :class => 'img-rounded' %>
    </div>
    <!-- Trip summary using react -->
    <div class="col-md-8 trip-summary">
      <%= react_component 'TripSummary', {data: @trip} %>
    </div>
  </div>
</div>
<!-- random stuff instead of fixing css -->
<div class="clearfix"></div>
<div class="mui-divider margin-top"></div>
<!--
location modal button
-->
<button type="button" class="mui-btn mui-btn--raised mui-btn--primary" data-toggle="modal" data-target="#trip-modal" id="location-button">
<span class="glyphicon glyphicon-globe"></span>
Add a Destination</button>
<!--
location modal
-->
<div class="modal fade" id="trip-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title page-title" id="myModalLabel">Add a Location</h4>
      </div>
      <div class="modal-body">
        <!-- start form -->
        <div class="mui-textfield col-md-6">
          <input class="location-search" id="gmaps-input-address" type="text" placeholder="Search for a destination.." size="20"/>
        </div>
        <!-- start row -->
        
        <%= form_for @new_location, :remote => true do |f|  %>
        <div class="mui-textfield hidden">
          <legend>location</legend>
          <%= f.text_field :city%>
        </div>
        <div class="mui-textfield hidden">
          <legend>latitude</legend>
          <%= f.text_field :lat%>
        </div>
        <div class="mui-textfield hidden">
          <legend>longitude</legend>
          <%= f.text_field :long%>
        </div>
        <%= f.hidden_field :trip_id, :value => @trip.id %>
        <%= f.submit "Add Destination", :class => "mui-btn mui-btn--raised mui-btn--primary" %>
        <% end %>
        <div id='gmaps-canvas'></div>
        
        <!-- end form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="mui-btn mui-btn--raised mui-btn--default" data-dismiss="modal">Close</button>
        <button type="button" class="mui-btn mui-btn--raised mui-btn--primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--
react component for listing the trip locations
-->
<%= react_component 'TripList', {data: @trip_locations} %>
<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwcXunVemFYbtL-898MWQY11z7QE4cl70&signed_in=true&callback=initMap">
</script>
-->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwcXunVemFYbtL-898MWQY11z7QE4cl70&libraries=places&signed_in=true&callback=initMap"></script>