<div class="modal fade" id="food-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p id="location-id" class="hidden"></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title page-title text-center" id="location-modal">Let's Eat!</h4>
        <h2 class="powered-by-zomato text-center">Powered by Zomato.com</h2>
      </div>
      <div class="modal-body" id="restaurant-modal-body">
        <div id="beer-loader">
          <%= render "trips/partials/beer_loader" %>
        </div>
        <div id="location-select" class="container-fluid"></div>
        <h4 class="modal-title page-title text-center" id="restaurant-display-title"></h4>
        <div id="top-restaurants" class="container-fluid"></div> 
      

       
        <!-- start form -->
        
        <%= form_for @new_restaurant, 
          :remote => true, 
          :id => 'restaurant-form' do |f|  %>
        <div class="mui-textfield hidden">
          <legend>restaurant id</legend>
          <%= f.text_field :res_id, :id => 'res-id-form'%>
        </div>

        <div class="mui-textfield hidden">
          <legend>diners</legend>
          <%= f.text_field :diners, :id => 'res-diners-form'%>
        </div>

        <div class="mui-textfield hidden">
          <legend>location id</legend>
          <%= f.text_field :location_id, :id => 'res-location-id-form'%>
        </div>
        <%= f.submit "Add location", :class =>"mui-btn mui-btn--raised mui-btn--primary hidden", :id => 'submit-res-form-button' %>
             
        <!-- end form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="mui-btn mui-btn--raised mui-btn--default" data-dismiss="modal">Close</button>
      </div>
      
      <% end %>
    </div>
  </div>
</div>