<div class="modal fade" id="food-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title page-title text-center" id="location-modal">Let's Eat!</h4>
        <h2 class="powered-by-zomato text-center">Powered by Zomato.com</h2>
      </div>
      <div class="modal-body" id="restaurant-modal-body">
        <div id="beer-loader">
          <%= render "trips/partials/beer_loader" %>
        </div>
        <div id="location-select"></div>
      
       
        <!-- start form -->
        



        
        <%= form_for @new_location, 
          :remote => true, 
          :id => 'location-form' do |f|  %>
        <div class="mui-textfield hidden">
          <legend>location</legend>
          <%= f.text_field :city, :id => 'loc-city'%>
        </div>

        <div class="mui-textfield hidden">
          <legend>location</legend>
          <%= f.text_field :state_province, :id => 'loc-state-province'%>
        </div>

        <div class="mui-textfield hidden">
          <legend>location</legend>
          <%= f.text_field :country, :id => 'loc-country'%>
        </div>

        <div class="mui-textfield hidden">
          <legend>latitude</legend>
          <%= f.text_field :lat, :id => 'loc-lat'%>
        </div>

        <div class="mui-textfield hidden">
          <legend>longitude</legend>
          <%= f.text_field :long, :id => 'loc-lng'%>
        </div>

        <%= f.hidden_field :trip_id, :value => @trip.id %>
        
        
        
        <!-- end form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="mui-btn mui-btn--raised mui-btn--default" data-dismiss="modal">Close</button>

        <%= f.submit "Add Food", 
        :class => "mui-btn mui-btn--raised mui-btn--primary text-center", :id => "add-dest-button"%>

      </div>
      <% end %>
    </div>
  </div>
</div>