
  
<div class="container-fluid">
  <%= will_paginate @trips, renderer: BootstrapPagination::Rails, class: "pagination pagination-centered"  %>
</div>
<!-- end pagination -->
<div class="container-fluid">
  <div class="clearfix"></div>
  <% @trips.each do |trip| %>
  <div class="col-lg-4 tile-box grow">
    <div class="text-over-image">
      <%= link_to image_tag(trip.image.url(:large), :class => "img-responsive trip-index-tile"), Trip.find(trip.id) %>
      <!-- Title for the tile -->
      <h3 class="tile-title no-click"><div class="grey-background no-click">
      <%= trip.name %></div>
      </h3>
      <!-- Blurb for the tile -->
      <h3 class="tile-blurb no-click"><div class="blurb-summary">
      <%= truncate(trip.blurb, length: 150) %></div>
      </h3>
      <!-- Cost for the tile -->
      <h3 class="tile-cost no-click"><div class="blurb-text">
      <%= number_to_currency(trip.cost, :unit => "$") %></div>
      </h3>
      <!-- social sharing icons -->
      <div class="share-container">
        <a href="#">
          <%= icon('facebook')%><span> </span>
        </a>
        <a href="#">
          <%= icon('pinterest')%>
        </a>
        <a href="#">
          <%= icon('twitter')%>
        </a>
        <a href="#">
          <%= icon('reddit')%>
        </a>
        <a href="#">
          <%= icon('snapchat-ghost')%>
        </a>
        <a href="#">
          <%= icon('tumblr')%>
        </a>
        <a href="#">
          <%= icon('vine')%>  
        </a>
      </div>
      <!-- end social sharing icons -->
    </div>
  </div>
  <% end %>
</div>
<div class="clearfix"></div>
<!-- start pagination -->
<div class="pagination-box">
  <%= will_paginate @trips, renderer: BootstrapPagination::Rails  %>
</div>