<div class="col-md-offset-4 col-md-4">
  <div class="jumbotron">
    <p class="text-center page-title">Login</p>
    
    
    <div class="container-fluid">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mui-textfield">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="mui-textfield">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="mui-checkbox">
        <label>
          <%= f.check_box :remember_me %>
          Remember Me
        </label>
      </div>
      <% end -%>
      <div class="">
        <%= f.submit "Log in", :class => 'mui-btn mui-btn--raised mui-btn--primary' %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>